<p>
  <b>To:</b><br />
  <% @order.profiles.each { |profile| %>
    <%= profile.email %><br />
  <% } %>
</p>

<p>
  <b>Title:</b>
  <%=h @order.title %>
</p>

<p>
  <b>Contents:</b>
  <%=h @order.contents %>
</p>

<p>
  <b>Date:</b>
  <%=h @order.date %>
</p>

<p>
  <b>Time:</b>
  <%=h @order.time %>
</p>

<p>
  <b>Complete:</b>
  <%=h @order.complete %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>